@font-face {
  font-family: 'AUTHENTIC Sans';
  src: url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.woff2?v=1595102445095") format("woff2"),
    url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.woff?v=1595102445203") format("woff"),
    url("https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FAUTHENTICSans-90.otf?v=1595102498458") format("otf");
}

@font-face {
  font-family: 'Sporting Grotesque Regular';
  src: url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Regular.otf?v=1599669222539') format("otf"),
    url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Regular.woff?v=1599671067024') format('woff'),
    url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Regular.woff2?v=1599671069801') format('woff2');
}

@font-face {
  font-family: 'Sporting Grotesque Bold';
  src: url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Bold.otf?v=1599669221861') format("otf"),
    url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Bold.woff?v=1599671065908') format('woff'),
    url('https://cdn.glitch.com/4e08fdce-4f09-4168-8b21-d44271860232%2FSportingGrotesque-Bold.woff2?v=1599671066327') format('woff2');
}

:root {
  --soft-pink: #FEC2FF;
  --soft-purple: #CEB3FE;
  --bright-blue: #396FFD;
  --soft-green: #BEFEB3;
}

html,
body {
  height: 100%;
  width: 100vw;
}

html {
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px;
  /* For Chrome, Safari, and Opera */
  display: none;
}

body {
  background: var(--soft-pink);
  color: var(--bright-blue);
  margin: 0;
  padding: 0;
  font-family: 'AUTHENTIC Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeSpeed;
}

/* progress bar */

#navigation-progress {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--bright-blue);
  z-index: 10;
  height: 1vh;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1vh;
  border: none;
  background: transparent;
  z-index: 100;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background-image: linear-gradient(to right, pink, yellow, cyan, violet);
  background-attachment: fixed;
  -webkit-animation: RainbowAnim .5s linear infinite;
  animation: RainbowAnim .5s linear infinite;
}

progress::-moz-progress-bar {
  background-image: linear-gradient(to right, pink, yellow, cyan, violet);
  background-attachment: fixed;
}

/* layout */
/* top | right | bottom | left */

.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--soft-green);
  border-bottom: 2px solid var(--bright-blue);
  padding: 1em 0.5em 0 0.5em;
  margin: 0;
}

h1,
h2 {
  font-family: 'Sporting Grotesque Bold', 'AUTHENTIC Sans', Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  min-height: 90vh;
}

p {
  font-family: inherit;
  text-align: center;
}

footer {
  text-align: center;
  background: transparent;
  border-top: 2px solid var(--bright-blue);
  background: var(--soft-purple);
  width: 100vw;
  overflow-x: hidden;
  bottom: 0;
}

.rolling-text {
  bottom: inherit;
  font-size: 1em;
  line-height: 3.5em;
  width: 100vw;
  display: inline-block;
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  -webkit-animation: rollingTextLoop 30s linear 1s infinite;
  animation: rollingTextLoop 30s linear 1s infinite;
}

@-webkit-keyframes rollingTextLoop {
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes rollingTextLoop {
  100% {
    transform: translateX(-100%);
  }
}


/* text selection */
::-moz-selection {
  margin: 0.5em;
  background-color: var(--soft-purple);
  color: var(--soft-pink);
}

::selection {
  margin: 0 0.5em;
  background-color: var(--soft-purple);
  color: var(--soft-pink);
}